<?php /** @var \Bluz\Layout\Layout $this */ ?>
<div class="container">
    <footer class="row">
        <div class="center">&copy; <?=gmdate('Y')?> <a href="#">Unitedsoft</a></div>
    </footer>
</div>
</body>
</html>
